[Unit]
Description=ShishNet GHCtags Loader

[Service]
WorkingDirectory=/data/sites/ghctags.shishnet.org/ghctags
User=shish
Group=shish
ExecStart=/bin/sh -c 'exec ../venv/bin/ghctags-loader'
Restart=always

#Type=notify
#NotifyAccess=all
#WatchdogSec=60

[Install]
WantedBy=multi-user.target
