[Unit]
Description=ShishNet GHCtags Web

[Service]
WorkingDirectory=/data/sites/ghctags.shishnet.org/ghctags
User=shish
Group=shish
ExecStart=/bin/sh -c '\
	sleep 3 && sd_watcher --url http://127.0.0.1:8805/ --interval 30 --exit & \
	../venv/bin/pserve production.ini \
'
Restart=always

Type=notify
NotifyAccess=all
WatchdogSec=60

[Install]
WantedBy=multi-user.target
